@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #9adaf62b;
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 104px;
}

.Fit,
.Log{
    width: 290px;
    height: 410px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: white;
    text-align: center;
}

.main h1{
    font-size: 48px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Fit h1{
    color: #72A2B6;
    transform: translateY(272px);
}

.Log h1{
    color: #e0b84cc2;
    transform: translateY(272px);
}

.profileIcon{
    width: 62px;
    height: 62px;
    background-image: url("../profileIcon.png");
    background-position: center center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(1242px, 40px);
    cursor: pointer;
}

.fitImg{
    width: 232px;
    transform: translateY(-16px);
}

.logImg{
    width: 168px;
}

.profile{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 120px;
    border: 3px solid black;
    background-color: white;
    border-radius: 16px;
    transform: translate(1160px, 54px);
    font-size: 20px;
    cursor: pointer;
}

.p1 {
    padding: 5px 26px 5px 0px;
    width: 128px;
    text-align: right;
    border-bottom: 2px solid black;
}

.p2{
    padding: 4px 14px 5px 0px;
    width: 128px;
    text-align: right;
    border-bottom: 2px solid black;
}

.p3{
    padding: 5px 16px 6px 0px;
    width: 128px;
    text-align: right;
    transform: translateY(-2px);
}

.prf{
    position: absolute;
    width: 20px;
    transform: translate(-32px, 5px);
}

.video{
    position: absolute;
    width: 28px;
    transform: translate(-33px, 4px);
}

.logout{
    position: absolute;
    width: 20px;
    transform: translate(-28px, 6px);
}